/* Master styles */
body {
    font-family: "Lato", sans-serif;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
}

div {
    cursor: url('images/heart.svg') 16 16, pointer;
  }

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.left-side {
    display: flex;
}

.right-side{
  display:flex;
}

.middle-footer {
    display: flex;
    margin:auto;
  }

/* Nav styles */
.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-wrapper > .right-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-wrapper > .middle-footer > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.active-nav-link {
    border-bottom: 1px solid rgb(0, 0, 0);
}
  
.active-nav-link a {
    color: rgb(0, 0, 0) !important;
}

.nav-link-wrapper a {
    color: grey;
    text-decoration: none;
    transition: 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color:grey;
}

/* Portfolio styles */

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1%;
}

.portfolio-item-wrapper {
    position: relative;
    margin-top:0px;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}

.portfolio-img-background {
    height:600px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    border-style:solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
}

.img-text-wrapper {
    position:absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
    text-align: left;
    font-size: 18px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px;
}

.image-blur {
    transition: 1s;
    filter: brightness(10%);
  }

  .portfolio-img-background-enlarged {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    border-style:solid;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
  }
  
  .img-text-wrapper:hover .subtitle {
    color: rgb(255, 255, 255);
    background-color: rgba(52, 88, 58, 0.534);
    border-radius:30px;
  }
  
  /* Profile styles */
  .two-column-wrapper {
    display:grid;
    grid-template-columns: 400px 1fr;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .profile-image-blur {
    transition: 1s;
    filter: brightness(70%);
  }

  .profile-content-animate {
    transition: 1s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-bottom: 25px;
    margin-top: 25px;
    width: 100%;
    border-color: rgb(52, 88, 58);
  }
  
  .profile-image-wrapper img {
    position: relative;
    width:auto;
    height:500px;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    border-color:black;
  }

  .profile-image-wrapper:hover img {
    border-width: 2px;
    border-color:rgb(52, 88, 58);
  }
  
  .profile-content-wrapper {
    padding: 30px;
    width:fit-content;
    position: relative;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
  }
  
  .profile-content-wrapper h1{
    color: black;
  }

  .profile-content-wrapper:hover h1 {
    color: rgb(52, 88, 58);
  }

  .profile-content-wrapper p {
    color: rgb(0, 0, 0);
    line-height: 30px;
  }

/* Work Experience styels */
  .work-item-wrapper {
    margin: 1%;
    border-radius: 30px;
  }
  
  .work-wrapper {
    display:grid;
    grid-template-columns: 1fr;
    margin-top:0px;
    margin-right: 10%;
    margin-left: 10%;
}

.work-wrapper:hover > .work-item-wrapper > .work-title-card-wrapper h1{
  transition: 0.4s;
  color:white;
}

.work-wrapper:hover > .work-item-wrapper > .work-title-card-wrapper p{
  transition: 0.4s;
  color:white;
}

.work-content-wrapper {
    padding: 30px;
    width:auto;
    position: relative;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
}

.work-wrapper-background-animate {
  transition: 1s;
  background-color: rgba(52, 88, 58, 0.534);
}

.work-title-card-wrapper {
    padding: 0px;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    text-align: left;
    padding-left: 30px;
}

.work-title-card-wrapper h1, p {

  display: inline;
  vertical-align: middle;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  color: black
}

  .work-content-wrapper p {
    color: rgb(0, 0, 0);
    line-height: 30px;
    display: flex;
    padding: 0%;
  }