/* Master styles */

span {
  display: table;
  margin: 0 auto;
}

@media (min-width: 700px) {
  /* Portfolio picture and text resizing */
  .portfolio-items-wrapper { 
    grid-template-columns: repeat(1, 1fr);
  }
  .img-text-wrapper { 
    font-size: xx-large;
  }

  /* Navigation Bars */
  .nav-wrapper-top {
    font-size: x-large;
    display: grid;
    grid-template-columns: 1fr;
  }
  .middle-footer {
    font-size: x-large;
  }
  .nav-wrapper-top > .left-side {
    margin-bottom: 4%;
  }

  .nav-link-wrapper {
    height: 30px;
  }

  /* Profile */
  .two-column-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .awards-honors-wrapper{
    grid-template-columns: repeat(1, 1fr);
    margin-right: 5%;
    margin-left: 5%;
  }

  .awards-honors-item-wrapper > .schooling-course-wrapper-text p{
    font-size: x-large;
  }

  .schooling-course-wrapper-text p {
    font-size: x-large;
    line-height: 60px;
  }

  .profile-image-wrapper{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
  }

  .profile-image-wrapper img {
    width:auto;
    height: 1250px;
  }

  .profile-content-wrapper{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    max-width: 890px;
    font-size: x-large;
  }

  .profile-content-wrapper h1{
    line-height: 60px;
  }

  .courses-text-wrapper{
    font-size: x-large;
  }
}

@media (min-width: 1000px) {
  /* Portfolio picture and text resizing */
  .portfolio-items-wrapper { 
    grid-template-columns: repeat(2, 1fr);
  }
  .img-text-wrapper { 
    font-size: x-large;
  }

  /* Navigation Bars */
  .nav-wrapper-top {
    font-size: medium;
    display: flex;
  }
  .middle-footer {
    font-size: medium;
  }

  .nav-wrapper-top > .left-side {
    margin-bottom: 0%;
  }

  .nav-link-wrapper {
    height: 25px;
  }

  /* Profile */
  .two-column-wrapper {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 10%;
    margin-right: 10%;
  }

  .awards-honors-wrapper{
    grid-template-columns: repeat(2, 1fr);
  }

  .awards-honors-item-wrapper{
    margin-left: 1%;
    margin-right: 1%;
  }

  .awards-honors-item-wrapper > .schooling-course-wrapper-text p{
    font-size: medium;
  }

  .profile-image-wrapper{
    margin-top: 1%;    
    margin-left:auto;
    margin-right: auto;
  }

  .profile-image-wrapper img {
    height: 460px;
  }

  .profile-content-wrapper{
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    font-size: medium;
  }
  .profile-content-wrapper h1{
    line-height: 35px;
  }

  .courses-text-wrapper{
    font-size: medium;
  }
}

@media (min-width: 1500px) {
  /* Portfolio picture and text resizing */
  .portfolio-items-wrapper { 
    grid-template-columns: repeat(3, 1fr); 
  }
  .img-text-wrapper { 
    font-size: larger;
  }

  /* Navigation Bars */
  .nav-wrapper-top {
    font-size: medium;
    display: flex;
  }
  .middle-footer {
    font-size: medium;
  }

  .nav-wrapper-top > .left-side {
    margin-bottom: 0%;
  }

  .nav-link-wrapper {
    height: 25px;
  }

  /* Profile */
  .two-column-wrapper {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10%;
    margin-right: 10%;
  }

  .awards-honors-wrapper{
    grid-template-columns: repeat(3, 1fr);
  }

  .profile-image-wrapper{
    margin-left: 5%;
    margin-right: 1%;
    margin-top: 1%;
  }

  .profile-image-wrapper img {
    width:auto;
    height: 500px;
  }

  .profile-content-wrapper{
    margin-left: -20%;
    margin-top: 1%;
    max-height: 440px;
    font-size: medium;
  }
  .profile-content-wrapper h1{
    line-height: 35px;
  }
  .courses-text-wrapper{
    font-size: medium;
  }
}

@media (min-width: 2000px) {
  /* Portfolio picture and text resizing */
  .portfolio-items-wrapper { 
    grid-template-columns: repeat(4, 1fr); 
  }
  .img-text-wrapper { 
    font-size: larger;
  }

  /* Navigation Bars */
  .nav-wrapper-top {
    font-size: medium;
    display: flex;
  }
  .middle-footer {
    font-size: medium;
  }

  .nav-wrapper-top > .left-side {
    margin-bottom: 0%;
  }

  .nav-link-wrapper {
    height: 25px;
  }

  /* Profile */
  .two-column-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .awards-honors-wrapper{
    grid-template-columns: repeat(4, 1fr);
  }

  .awards-honors-item-wrapper > .schooling-course-wrapper-text p{
    font-size: medium;
  }

  .profile-image-wrapper{
    margin-left: 20%;
    margin-right: 1%;
    margin-top: 1%;
  }

  .profile-image-wrapper img {
    width:auto;
    height: 500px;
  }

  .profile-content-wrapper{
    margin-left: -40%;
    margin-right: 20%;
    margin-top: 1%;
    min-width: 680px;
    max-width: 1950px;
    max-height: 450px;
  }

  .profile-content-wrapper h1{
    font-size: large;
  }

  .profile-content-wrapper p{
    font-size: medium;
  }
}

body {
    font-family: "Lato", sans-serif;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    -webkit-tap-highlight-color: transparent;
}

div {
    cursor: url('images/heart.svg') 16 16, pointer;
  }

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper-top {
    justify-content: space-between;
    padding: 30px;
    border-bottom: 2px solid black;
    border-radius: 30px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-top: 2px solid black;
  border-radius: 30px;
}

.left-side {
    display: flex;
}

.right-side{
  display:flex;
}

.middle-footer {
    display: flex;
    margin: auto;
  }

/* Nav styles */
.nav-wrapper-top > .left-side > div {
    margin-right: 20px;
    text-transform: uppercase;
}

.nav-wrapper-top > .right-side > div {
    margin-right: 20px;
    text-transform: uppercase;
}

.nav-wrapper > .middle-footer > div {
  margin-right: 20px;
  text-transform: uppercase;
}

.nav-wrapper-top > .middle-footer > div {
    margin-right: 20px;
    text-transform: uppercase;
}

.nav-link-wrapper {
    /*height: 22px;*/
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.active-nav-link {
    border-bottom: 1px solid rgb(0, 0, 0);
}
  
.active-nav-link a {
    color: rgb(0, 0, 0) !important;
}

.nav-link-wrapper a {
    color: grey;
    text-decoration: none;
    transition: 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color:grey;
}

/* Portfolio styles */

.portfolio-items-wrapper {
    display: grid;
    margin-left:1%;
    margin-right:1%;
    margin-top: 1%;
}

.portfolio-item-wrapper {
    position: relative;
    margin: 1%;
}

.portfolio-img-background {
    min-height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    border-style:solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
}

  .portfolio-img-background-enlarged {
    border-color: rgb(255, 255, 255);
  }

.img-text-wrapper {
    position:absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
    text-align: left;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px;
    border-radius:30px;
}

.image-blur {
    transition: 0.4s;
    filter: brightness(10%);
    background-size: cover;
  }


  
  .img-text-wrapper:hover .subtitle {
    color: rgb(255, 255, 255);
    background-color: rgba(52, 88, 58, 0.534);
    border-radius:30px;
  }
  
  /* Profile styles */
  .two-column-wrapper {
    display: grid;
  }

  .profile-image-blur {
    transition: 0.4s;
    filter: brightness(70%);
  }

  .profile-content-animate {
    transition: 0.4s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-bottom: 24px;
    margin-top: 24px;
    width: 100%;
    border-color: rgb(52, 88, 58);
  }
  
  .profile-image-wrapper img {
    position: relative;
    width:auto;

    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    border-color:black;
  }

  .profile-image-wrapper:hover img {
    border-width: 2px;
    border-color:rgb(52, 88, 58);
  }
  
  .profile-content-wrapper {
    padding: 30px;
    width:auto;
    position: relative;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
  }
  
  .profile-content-wrapper h1{
    vertical-align: middle;
    color: black;
    display: flex;
  }

  .profile-content-wrapper:hover h1 {
    color: rgb(52, 88, 58);
  }

  .profile-content-wrapper p {
    line-height: 30px;
    vertical-align: middle;
    color: black;
    display: flex;
  }

  .awards-honors-wrapper{
    display:grid;
    margin-top: 0px;
  }

  .awards-honors-item-wrapper{
    margin-bottom: 2%;
    border-radius: 30px;
  }

/* Work Experience styles */
  .work-item-wrapper {
    margin-top: 1%;
    border-radius: 30px;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .work-wrapper {
    display:grid;
    grid-template-columns: 1fr;
    margin-top:0px;
    margin-right: 10%;
    margin-left: 10%;
}

.work-wrapper:hover > .work-item-wrapper > .work-title-card-wrapper h1{
  transition: 0.4s;
  color:white;
}

.work-wrapper:hover > .work-item-wrapper > .work-title-card-wrapper p{
  transition: 0.4s;
  color:white;
}

.work-content-wrapper {
    padding: 30px;
    width:auto;
    position: relative;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
}

.work-wrapper-background-animate {
  transition: 0.4s;
  background-color: rgba(52, 88, 58, 0.534);
}

.work-title-card-wrapper {
    padding: 0px;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    text-align: left;
    padding-left: 30px;
}

.work-title-card-wrapper h1 {
  vertical-align: middle;
  line-height: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  font-size:large;
}

.work-title-card-wrapper p {
  vertical-align: middle;
  line-height: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  font-size:medium;
}

  .work-content-wrapper p {
    color: rgb(0, 0, 0);
    line-height: 20px;
    display: flex;
    padding: 0%;
    font-size: medium;
    line-height: 30px;
  }

  /* Education styles */
  .schooling-wrapper {
    display:grid;
    grid-template-columns: 1fr;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 0px;
}

.schooling-item-wrapper {
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
}

.schooling-wrapper-text {
  border-color:black;
  border-width: 2px;
  border-style: solid;
  border-radius: 30px;
  text-align: left;
  padding-left: 30px;
}

.schooling-wrapper-text h1{
  vertical-align: middle;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  font-size:large;
  display: flex;
}

.schooling-wrapper-text p{
  vertical-align: middle;
  line-height: 15px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  font-size:medium;
  display: flex;
}

.schooling-wrapper:hover {
  transition: 0.4s;
  margin-right: 9%;
  margin-left: 9%;
}

.schooling-wrapper-text:hover h1 {
  color: rgb(52, 88, 58);
  transition: 0.4s;
}

.schooling-content-wrapper {
  grid-template-columns: 1fr;
}

.schooling-course-wrapper{
  grid-template-columns: 1fr 1fr;
  display:grid;
  margin-right: 16%;
  margin-left: 16%;
  margin-top: 0px;
}

.schooling-course-item-wrapper{
  margin-top: 3%;
  border-radius: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.schooling-course-wrapper-text:hover {
  transition: 0.4s;
  background-color: rgba(52, 88, 58, 0.534);
}

.schooling-course-wrapper-text:hover p {
  transition: 0.4s;
  color: white;
}

.schooling-course-wrapper-text{
  border-color:rgb(0, 0, 0);
  border-width: 2px;
  border-style: solid;
  border-radius: 30px;
  font-size:medium;
}

.schooling-course-wrapper-text p {
  vertical-align: middle;
  line-height: 15px;
  padding-left: 10px;
  margin: 2%;
  color: black;
  font-size:medium;
  display: flex;
}

.courses-text-wrapper h1{
  margin-block: center;
  text-align: center;
  border-bottom: 2px solid black;
  line-height: 60px;
  margin-left: 18%;
  margin-right: 18%;
}